@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

.loading {
  width: 4em;
  margin: 200px auto 0 auto;
  color: tomato;
}

.JokeList-getmore {
  margin: 1em 0;
  font-size: 150%;
  border-radius: 0.5em;
  background-color: tomato;
  color: white;
}

.JokeList-getmore:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}